*.pyc
*.py~
*.*~
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
.eric4project/
celerybeat-schedule
debian/compat
debian/copyright
debian/files
debian/img-svc.debhelper.log
debian/img-svc.postinst.debhelper
debian/img-svc.postrm.debhelper
debian/img-svc.prerm.debhelper
debian/img-svc.substvars
debian/img-svc/
debian/img.debhelper.log
debian/img.postinst.debhelper
debian/img.postrm.debhelper
debian/img.prerm.debhelper
debian/img.substvars
debian/img*
debian/source/
img.e4p
mycache/
src/meego_img/test.db
test.db
