{% extends 'base.html' %}

{% block pagetitle %}Log viewer{% endblock %}

{% block title %}Log view{% endblock %}

{% block content %}
<div id="logtext" class="logtext"> 
{% autoescape off %}
{{job}}
{% endautoescape %}
</div>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
<script type="text/javascript">
  window.location="#bottom";
  var refTimeoutID = window.setTimeout('location.reload();', 20000);
</script>
{% endblock %}
{% block sidebar_title %}
Help
{% endblock %} 
{% block sidebar_content %}
<li>
This page will refresh automatically every 20 seconds.
</li>
<li>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
</li>
{% endblock %} 
