{% extends 'base.html' %}

{% block pagetitle %}Detailed view{% endblock %}

{% block title %}Detailed view{% endblock %}

{% block content %}

{% include "app/messages.html" %}

{% if errors %}
<div class="errors">
  {% for label, e in errors.items %}
    {{ label }} : {{ e|join:", " }}
  {% endfor %}
</div>
{% endif%}
<div id="details" class="details">
<table>
<tr>
<td>ID : {{ obj.image_id }}</td>
<td>Created : {{ obj.created|date:"SHORT_DATETIME_FORMAT" }}</td>
</tr>
<tr>
<td>Owner : {{obj.user.username}}</td>
<td>Type : {{obj.image_type}}</td>
</tr>
<tr>
<td>Arch : {{obj.arch}}</td>
<td>Status : {{obj.status}}<td>
</tr>
<tr>
<form id="tagform" action="{%url img-app-job obj.image_id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<td>
{{ tagform.tags.label_tag }} : {{ tagform.tags }}
</td>
<td>
<input type="submit" value="Save tags" />
</td>
</form>
</tr>
</table>
</div>
<div id="logtext" class="logtext"> 
<iframe src="{{ obj.log_url }}">
</iframe>
</div>
<div>
</div>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
<script type="text/javascript">
  window.location="#bottom";
  var refTimeoutID = window.setTimeout('location.reload();', 20000);
</script>
{% endblock %}
{% block sidebar_title %}
Actions
{% endblock %} 
{% block sidebar_content %}
<li>
This page will refresh automatically every 20 seconds.
</li>
<li>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
</li>
<li>
{% include 'app/ops.html' %}
</li>
{% endblock %} 
