<a href="{% url img-app-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/details.png" width="24" height="24" alt="Log" title="View image details and build log"></img></a>
{% if obj.files_url %}
<a href="{{ obj.files_url }}/"><img src="{{ MEDIA_URL }}/images/folder.png" width="24" height="24" alt="Files" title="View image build directory"></img></a>
{% endif %}
{% if obj.image_url %}
<a href="{{ obj.image_url }}"><img src="{{ MEDIA_URL }}/images/download.png" width="24" height="24"  alt="Image" title="Download built image"></img></a>
{% endif %}
<a href="{% url img-app-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/tag.png" width="24" height="24"  alt="Retry" title="Change or add this jobs' tags"></img></a>
<a href="{% url img-app-retry-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/retry.png" width="24" height="24"  alt="Retry" title="Resubmit image as a new job"></img></a>
<a href="{% url img-app-retest-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/test.png" width="24" height="24"  alt="Re-test" title="Test or Retest same image"></img></a>
<a href="{% url img-app-delete-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/trash.png" width="24" height="24" alt="Delete" title="Request deletion of this image"></img></a>
{% if obj.pinned %}
<a href="{% url img-app-toggle-pin-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/pin_red.png" width="24" height="24" alt="unpin" title="This image is pinned and will not expire or be deleted, click to unpin it"></img></a>
{% else %}
<a href="{% url img-app-toggle-pin-job obj.image_id %}"><img src="{{ MEDIA_URL }}/images/pin_black.png" width="24" height="24" alt="pin" title="Click to pin this image so it doesn't expire or be deleted"></img></a>
{% endif %}
