{% extends 'base.html' %}

{% load app_tags %}

{% block pagetitle %}IMG Queue{% endblock %}

{% block title %}
{% if filtered %}
    {{ user.username }}'s images
{% else%}
    {%if queue_name %}
        {{ queue_name }} image creation queue
    {% else %}
        All image creation queues
    {% endif %}
{% endif %}

{% endblock %}

{% block content %}

{%if queue %}
<meta http-equiv="refresh" content="60">
{% include "app/messages.html" %}
<table id="queue">
    <thead>
        <tr>
            <th>ID {%if not queue_name %}/ queue{% endif %} / User</th>
            <th>Name</th>
            <th>Arch / Type</th>
            <th>Submitted / Length</th>
            <th>Status</th>
            <th>Results / Operations</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in queue.object_list %}
        <tr>
            <td>{{ obj.image_id }}<br/>{%if not queue_name %}/ {{ obj.queue.name }}{% endif %} / {{obj.user.username}}</td>
            <td>{{ obj.name }}</td>

            <td>{{obj.arch}}
                <br/>
            {{obj.image_type}} </td>
            <td>{{ obj.created|date:"m/d/Y G:i" }}
             <br/>
            {{obj.created|timesince:obj.done}}</td>
            <td>
                {{obj.status}}
                <br/>
                {% if obj.status == "DONE, TESTED" %}
                    {% if obj.test_result %}
                    <font color="green">PASS</font>
                    {% else%}
                    <font color="red">FAIL</font>
                    {% endif %}
                {% endif %}
            </td> 
            <td>
                {% include 'app/ops.html' %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="pagination">
            <td>
            {% if queue.has_previous %}
                <a href="?page={{ queue.previous_page_number }}">previous</a>
            {% endif %}
            </td>
            <td colspan="4">
                Page {{ queue.number }} of {{ queue.paginator.num_pages }}.
            </td>
            <td>
            {% if queue.has_next %}
                <a href="?page={{ queue.next_page_number }}">next</a>
            {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
{% endif %}
{% endblock %}
{% block sidebar_title %}
Filter
{% endblock %}
{% block sidebar_content %}
<li>
{% if filtered %}
Show <a href="{%url img-app-queue %}">all images</a>
{% else%}
Show <a href="{%url img-app-queue-filter %}">only my images</a>
{% endif %}
</li>
<li>
Show queue: 
{% for q in queues %}
{% if q.name not in request.path %}
<a href="{% url img-app-queue-name queue_name=q.name %}">{{ q.name }} </a>
{% endif %}
{% endfor %}
{% if queue_name %}
<a href="{% url img-app-queue %}">all </a>
{% endif %}
</li>
<li>
This page will auto-refresh every 60 seconds.
</li>
<li>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
<script type="text/javascript">
  var refTimeoutID = window.setTimeout('location.reload();', 60000);
</script>
</li>
{% endblock %}
