{% extends 'base.html' %}

{% load app_tags %}

{% block pagetitle %}IMG Queue{% endblock %}

{% block title %}
{% if filtered %}
    {{ user.username }}'s images
{% else%}
    {%if queue_name %}
        {{ queue_name }} image creation queue
    {% else %}
        All image creation queues
    {% endif %}
{% endif %}

{% endblock %}

{% block content %}

{%if queue %}
<meta http-equiv="refresh" content="60">
<table id="queue">
    <thead>
        <tr>
            <th>ID {%if not queue_name %}/ queue{% endif %}</th>
            <th>Submitted</th>
            <th>Length</th>
            <th>User</th>
            <th>Arch</th>
            <th>Type</th>
            <th>Status</th>
            <th>Results</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in queue.object_list %}
        <tr>
            <td>{{ obj.image_id }} {%if not queue_name %}/ {{ obj.queue.name }}{% endif %}</td>
            <td>{{ obj.created|date:"SHORT_DATETIME_FORMAT" }}</td>
            <td>{{obj.created|timesince:obj.done}}</td>
            <td>{{obj.user.username}}</td> 
            <td>{{obj.arch}} </td>
            <td>{{obj.image_type}} </td>
            <td>
                {{obj.status}}
                <br/>
                {% if obj.test_image and obj.status == "DONE, TESTED" %}
                    {% if obj.test_result %}
                    <div><font color="green">PASS</font></div>
                    {% else%}
                    <div><font color="red">FAIL</font></div>
                    {% endif %}
                {% endif %}
            </td> 
            <td>
                {% if obj.logfile_url %}
                <a href="{% url img-app-job obj.image_id %}">Log</a>
                {% endif %}
                <br/>
                {% if obj.files_url %}
                <a href="{{ obj.files_url }}/">Files</a>
                {% endif %}
                {% if obj.image_url %}
                <a href="{{ obj.image_url }}">Image</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="pagination">
            <td>
            {% if queue.has_previous %}
                <a href="?page={{ queue.previous_page_number }}">previous</a>
            {% endif %}
            </td>
            <td colspan="6">
                Page {{ queue.number }} of {{ queue.paginator.num_pages }}.
            </td>
            <td>
            {% if queue.has_next %}
                <a href="?page={{ queue.next_page_number }}">next</a>
            {% endif %}
            </td>
        </tr>
    </tfoot>
</table>
{% endif %}
{% endblock %}
{% block sidebar_title %}
Filter
{% endblock %}
{% block sidebar_content %}
<li>
{% if filtered %}
Show <a href="{%url img-app-queue %}">all images</a>
{% else%}
Show <a href="{%url img-app-queue-filter %}">only my images</a>
{% endif %}
</li>
<li>
Show queue: 
{% for q in queues %}
{% if q.name not in request.path %}
<a href="{% url img-app-queue-name queue_name=q.name %}">{{ q.name }} </a>
{% endif %}
{% endfor %}
{% if queue_name %}
<a href="{% url img-app-queue %}">all </a>
{% endif %}
</li>
<li>
This page will auto-refresh every 60 seconds.
</li>
<li>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
<script type="text/javascript">
  var refTimeoutID = window.setTimeout('location.reload();', 60000);
</script>
</li>
{% endblock %}
