{% extends 'base.html' %}

{% load app_tags %}

{% block pagetitle %}IMG Queue{% endblock %}

{% block title %}
IMG Queue : Display <a href="{%url img-app-queue %}">all images</a> or <a href="{%url img-app-queue-filter %}">my images only</a>
{% endblock %}

{% block content %}

{%if queue %}
<meta http-equiv="refresh" content="60">
<table id="queue">
<thead><tr>
<th>Created since</th>
<th>Email</th>
<th>Status</th>
<th>Type</th>
<th>Log</th>
<th>Files</th>
<th>Remove</th>
</tr></thead>
<tbody>
    {% for obj in queue.object_list %}
        <tr>
                <td>{{obj.created|timesince}}</td>
                <td>{{obj.email|split:"@"}}</td> 
                <td>{{obj.status}} </td> 
                <td>{{obj.type}} </td>
                <td><a href="{% url img-app-job obj.task_id %}">Log</a></td>
                <td><a href="{% url img-app-download obj.task_id %}">Files</a></td>                
                <td>
                  {% if user.email == obj.email or user.is_superuser %} 
                    {% if obj.status == "DONE" or obj.status == "ERROR" %}
                      <a href="{% url img-app-confirm-remove obj.task_id %}"><img class="remove_icon" src="{{ MEDIA_URL }}images/error.png" /></a>
                    {% endif %}
                  {% endif %}
                </td>
        </tr>
    {% endfor %}
</tbody>
<tfoot>
<tr class="pagination">
        <td>
        {% if queue.has_previous %}
            <a href="?page={{ queue.previous_page_number }}">previous</a>
        {% endif %}
        </td>
        <td colspan="5">
            Page {{ queue.number }} of {{ queue.paginator.num_pages }}.
        </td>
        <td>
        {% if queue.has_next %}
            <a href="?page={{ queue.next_page_number }}">next</a>
        {% endif %}
        </td>
</tr>
</tfoot>
</table>
{% endif %}
{% endblock %}
{% block sidebar_title %}
Help
{% endblock %}
{% block sidebar_content %}
<li>If your image fails to build check the log file in the download directory to find out about the reason it failed. Usually it is a depndency problem in one of the packages.
</li>
<li>
This page will auto-refresh every 60 seconds.
</li>
<li>
<a name="bottom" href="#bottom" onclick="if (refTimeoutID) window.clearTimeout(refTimeoutID)">Stop auto-refresh</a>
<script type="text/javascript">
  var refTimeoutID = window.setTimeout('location.reload();', 60000);
</script>
</li>
{% endblock %}
