{% extends 'base.html' %}

{% block pagetitle %}Confirm removal{% endblock %}

{% block title %}Confirm removal{% endblock %}

{% block content %}
{% if errors %}
<div class="errors">
  {% for label, e in errors.items %}
    {{ label }} : {{ e|join:", " }}
  {% endfor %}
</div>
{% else %}
<div class="confirmation">
  <p>Are you sure you want to delete this job and all the files associated with it ?</p>
  <ul>
    {% for file in file_list %}
      <li>{{ file }}</li>
    {% endfor %}
  </ul>
  <form id="confirm_remove_form" action="{%url img-app-remove%}" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{ jobid }}" name="job-1"></input>
    <input type="submit" value="confirm"></input>
  </form>
</div>
{% endif%}
{% endblock %}
{% block sidebar_title %}
Help
{% endblock %} 
{% block sidebar_content %}
<li>
</li>
{% endblock %} 
