{% extends 'base.html' %}

{% load url from future %}

{% block pagetitle %}Search{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

{% include "app/messages.html" %}

{% if errors %}
<div class="errors">
  {% for label, e in errors.items %}
    {{ label }} : {{ e|join:", " }}
  {% endfor %}
</div>
{% endif%}
<div>
<table>
<tr>
<form id="searchform" action="{% url 'img-app-search' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<td>
{{ searchform.searchterm }}
</td>
<td>
<input type="submit" value="Search tags" />
</td>
</form>
</tr>
</table>
</div>
<hr/>
<div id="search_results" class="search_results">
<p>All tags (click on one to search for all images with that tag):<br/>
{% for x in alltags %}
<a href="{% url 'img-app-search-tag' tag=x %}">{{ x }}</a>
{% endfor %}
</p>
<p>
{% if results %}
<p>Results</p>
{% for x in results %}
<a href="{%url 'img-app-job' msgid=x.image_id %}">{{ x.image_id }}</a>
{% endfor %}
{% endif%}
</p>
</div>
{% endblock %}
{% block sidebar_title %}
Help
{% endblock %} 
{% block sidebar_content %}
<li>
Something
</li>
{% endblock %} 
