{% extends 'base.html' %}

{% block pagetitle %}IMG image uploader{% endblock %}

{% block title %}Image creation request{% endblock %}

{% block content %}
<script type="text/javascript">
    $(function() {
        $('#id_extra_repos_table tbody tr').formset({
            extraClasses: ['row1', 'row2', 'row3']
        });
        $('#id_ksfile').attr("disabled","disabled");
        $('#template').attr("checked","checked");
        $('#ksfile , #template').change(function(e){
            var enid = '' + $(e.target).attr('id');
            var dissel = 'input:radio:not([id=' + enid + '])';
            var disid = $(dissel).attr('id');
            $('#id_'+enid).removeAttr("disabled");
            $('#id_'+disid).attr("disabled","disabled");
            if (disid == 'template') { $('#id_'+disid).val("None") }
            else if(disid == 'ksfile') { $('#id_'+disid).val("") }
        });
        $("#uploadform").submit( function () {
           $('#id_ksfile , #id_template').each(function(){ $(this).removeAttr("disabled")});
           return true; 
        } );
    })
</script>
{% if jobform.is_bound %}
<div class="errors">
    {% if jobform.errors %}
        {% for label, error in jobform.errors.items %}
            {{ error }}
        {% endfor %}
    {% endif %}
    {% if tokensformset.errors %}
        {% for x in tokensformset.errors %}
            {% for label, error in x.items %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    {% endif %}
    {% if reposformset.errors %}
        {% for x in reposformset.errors %}
            {% for label, error in x.items %}
                {{ error }}
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}
<form id="uploadform" action="{%url img-app-submit%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Basic options</legend>
    <table width="100%">
        <tr>
            <td>
              <input type="radio" name="choice" id="{{ jobform.template.name }}"/>
            {{ jobform.template.label_tag }}
            </td>
            <td>
            {{ jobform.template }}
            </td>
        </tr>
        <tr border="15px">
        <td>-OR-</td>
        <td></td>
        </tr>
        <tr>
            <td>
              <input type="radio" name="choice" id="{{ jobform.ksfile.name }}"/>
            {{ jobform.ksfile.label_tag }}
            </td>
            <td>
            {{ jobform.ksfile }}
            </td>
        </tr>
        <tr>
            <td>
            {{ jobform.imagetype.label_tag }}
            </td>
            <td>
            {{ jobform.imagetype }}
            </td>
        </tr>
        <tr>
            <td>
            {{ jobform.architecture.label_tag }}
            </td>
            <td>
            {{ jobform.architecture }}
            </td>
        </tr>
        </table>
    </fieldset>
</table>
<fieldset> 
    <legend>Kickstart token mappings</legend>
    <table id="id_kickstart_token_mappings_table" border="0" cellpadding="0" cellspacing="5">
         <thead>
             <tr>
                 <th scope="col">Token</th>
                 <th scope="col">Value</th>
                 <th scope="col">Description</th>
             </tr>
         </thead>
         <tbody>
             {% for tokensform in tokensformset.forms %}
             {% for f in tokensform %}
             <tr>
                 <td>{{ f.label_tag }}</td>
                 <td>{{ f }}</td>
                 <td>{{ f.help_text }}</td>
             </tr>
             {% endfor %}
             {% endfor %}
         </tbody>
     </table>
    {{ tokensformset.management_form }}
</fieldset>
<fieldset>
    <legend>Optional Features</legend>
    <div id="features">
        {{ jobform.features }}
    </div>
</fieldset>
    <p><input type="submit" value="Submit" /></p>
<fieldset>
    <legend>Metadata options</legend>
    <table width="100%">
        <tr>
            <td>
            {{ jobform.pinned.label_tag }}
            </td>
            <td>
            {{ jobform.pinned }}
            </td>
        </tr>
        <tr>
            <td>
            {{ jobform.tags.label_tag }}
            </td>
            <td>
            {{ jobform.tags }}
            </td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>Extra repositories and packages</legend>
    <table id="id_extra_repos_table" border="0" cellpadding="0" cellspacing="5">
         <thead>
             <tr>
                 <th scope="col">OBS</th>
                 <th scope="col">Project</th>
                 <th scope="col">Repository</th>
             </tr>
         </thead>
         <tbody>
             {% for f in reposformset.forms %}
             <tr id="{{ f.prefix }}-row">
                 <td>{{ f.obs }}</td>
                 <td>{{ f.project }}</td>
                 <td>{{ f.repo }}</td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
    {{ reposformset.management_form }}
    <table>
    <tr>
        <td>
            {{ jobform.overlay.label_tag }}
        </td>
        <td>
            {{ jobform.overlay }}
        </td>
    </tr>
    </table>
</fieldset>

<fieldset>
    <legend>Post processing</legend>
    <table>
         <tbody>
             {% for ppform in ppformset %}
             <tr>
             {% for f in ppform %}

                 <td>
                     {{ f }}
                     {% if forloop.first %}{{ f.label_tag }}{% endif %}
                 </td>
                 {% if forloop.last %}
                   <td>
                     {{ f.help_text }}
                   </td>
                 {% endif %}

             {% endfor %}
             </tr>
             {% endfor %}
         </tbody>
     </table>
    {{ ppformset.management_form }}
</fieldset>

<p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}
{% block sidebar_title %}
Help
{% endblock %}
{% block sidebar_content %}
    {% for field in jobform %}
    <li>{{ field.help_text }}</li>
    {% endfor %}
    {% for f in reposformset.forms %}
      {% for field in f %}
        <li>{{ field.help_text }}</li>
      {% endfor %}
    {% endfor %}
{% endblock %}
