Source: img
Section: python
Priority: optional
Maintainer: Islam Amer <islam.amer@nokia.com>
Build-Depends: debhelper (>= 7.0.50~), python (>= 2.6.6-3~), python-setuptools, python-sphinx, python-ruote-amqp, python-boss-skynet, python-django, python-pykickstart, mic | mic2 (>=0.4), python-mysqldb, python-mock (>= 0.7), python-buildservice, python-nose, python-coverage
Standards-Version: 3.9.2

Package: img-core
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, mic2, sudo, python-pykickstart
Suggests: qemu-kvm, dropto, procps
Description: image creation service for MeeGo related products
 This package provides the core worker logic of imager. It builds images using mic2 optionally in a virtual machine.

Package: img-worker
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-boss-skynet, img-core
Replaces: img-boss
Description: image creation service for MeeGo related products
 This package provides imager participants that plugin into a BOSS system to
 fulfill image building steps of processes 

Package: img-ks
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-boss-skynet, img-core, python-buildservice, boss-standard-workflow-common
Replaces: img-boss
Description: image creation service for MeeGo related products
 This package provides imager participants that plugin into a BOSS system to 
 handle kickstart files

Package: img-web
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, lighttpd, python-django, python-flup, python-mysqldb, mysql-client, mysql-server, python-boss-skynet
Description: image creation service for MeeGo related products
 This package provides a django based web interface for imager. 

Package: img-docs
Architecture: all
Depends: ${misc:Depends}
Description: image creation service for MeeGo related products - docs
 This package provides a django based web interface for imager - docs
