#!/usr/bin/make -f

PKGDIR = /var/www/django/img

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs

	# install in a raw way
	mkdir -p debian/img-www/$(PKGDIR)
	cp -a src/meego_img debian/img-www/$(PKGDIR)
	mkdir -p debian/img-core/usr/share/img
	cp -a kickstarter debian/img-core/usr/share/img/
	mkdir -p debian/img-core/usr/bin
	mkdir -p debian/img-control/usr/bin
	cp -a src/meego_img/image_creator.py debian/img-core/usr/bin/meego_image_creator
	cp -a src/meego_img/client.py debian/img-control/usr/bin/meego_image_client
	mkdir -p debian/img-www/etc/lighttpd/vhosts.d
	mkdir -p debian/img-www/var/www/django/run
	cp -a debian/img-lighttpd.conf debian/img-www/etc/lighttpd/vhosts.d/
	mkdir -p debian/img-core/usr/share/doc/img-core
	cp -a README INSTALL debian/img-core/usr/share/doc/img-core/

binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installinit -- start 20 2 3 4 5 . stop 20 1 .
#	dh_installinit --start 20 2 3 4 5 . stop 20 1 .
	dh_link
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

